<% classes = local_assigns[:classes] %>
<% body = local_assigns.fetch(:body, nil) unless defined?(body) %>
<div id="<%= id %>"
     class="fixed inset-0 z-50 hidden flex items-center justify-center bg-black/40 p-4 <%= classes %>"
     data-controller="modal"
     data-modal-selector-value="#<%= id %>"
     data-modal="true"
     aria-hidden="true">
  <%= body %>
</div>
